.hero {
  display: flex;
  width: 100%;
  color: gainsboro;
  height: 40rem;// color: goldenrod;

  &__img {
    width: 100%;
    height: auto;
    object-fit: cover;

  }

  &__left {
    display: flex;
    width: 30%;
    color: ghostwhite;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: aliceblue;
    justify-content: space-evenly;
  }
  p {
    text-align: justify;
    padding: 20px;
    background-color: lavenderblush;
    font-size: 1.5625rem;
    font-weight: 600;
  }
  &__right {
    width: 70%;
  }
}

.hero__button {
  background-color: #5c8080;
  border: 2px solid black;
  border-radius: 1.25rem;
  box-shadow: none;
  height: 5rem;
  width: 13.2rem;
  font-weight: 600;
  line-height: 30px;
  font-size: 1.5625rem;
  cursor: pointer;
  content: attr(Exercise);
}
h1 {
  text-align: center;
  font-weight: 700;
  color: white;
}

.container {
  position: relative;
  max-width: 100%;
}

.background-image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.text-overlay {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
  color: rgba(255, 99, 71, 0.8);
  text-align: center;

  h1 {
    color: #444444;
  }
}
